## Series

In [4]:
import pandas as pd 
stockprice_series = pd.read_csv("data/google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
pokemon_series = pd.read_csv("data/pokemon.csv", usecols = ["Pokemon"]).squeeze("columns") # usecols are columns we want to keep

In [4]:
# a series is a single object that combines attributes of a list and dictionary 

soda_flavors = ["coke", "pepsi", "dr.pepper"]


# dtype object is a string
# index is a list index or a key of dictionary
pd.Series(soda_flavors)

0         coke
1        pepsi
2    dr.pepper
dtype: object

In [6]:
lottery = [4, 8, 1, 15]

pd.Series(lottery)

0     4
1     8
2     1
3    15
dtype: int64

In [8]:
registration = [True, False, True]

pd.Series(registration)

0     True
1    False
2     True
dtype: bool

## Series from a dictionary

In [10]:
sushi = {
    "Salmon":"Orange", 
    "Tuna":"Red",
    "Eel":"Brown"
}


pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [13]:
recipe = {
    "Flour":True, 
    "Sugar":True, 
    "Salt":False
}

pd.Series(recipe)

Flour     True
Sugar     True
Salt     False
dtype: bool

## Methods

In [14]:
prices = pd.Series([2.99, 4.45, 4.55])
prices

0    2.99
1    4.45
2    4.55
dtype: float64

In [15]:
prices.sum()

11.99

In [17]:
prices.product()

60.54002500000001

In [48]:
prices.mean()

NameError: name 'prices' is not defined

In [57]:
pokemon_series.sort_values().head() #sorted values using method 
pokemon_series.sort_values(ascending = True).tail()

570     Zoroark
569       Zorua
40        Zubat
633    Zweilous
717     Zygarde
Name: Pokemon, dtype: object

In [62]:
stockprice_series.sort_values() #remember we keep the original index value 
stockprice_series.sort_values(ascending = True)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [139]:
pokemon = pd.read_csv("data/pokemon.csv", index_col = "Pokemon").squeeze("columns") #made the pokemon name index
pokemon.head()
pokemon.sort_index(ascending = False) #sort by index not values

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

## Attributes

In [20]:
adjective = pd.Series(["Smart", "Handsom", "Charming", "Brilliant"])
adjective

0        Smart
1      Handsom
2     Charming
3    Brilliant
dtype: object

In [24]:
# returns size of series 
adjective.size

4

In [26]:
# returns boolean if elements are unique 
adjective.is_unique

True

In [29]:
# returns a numpy array
adjective.values

array(['Smart', 'Handsom', 'Charming', 'Brilliant'], dtype=object)

In [30]:
type(adjective.values)

numpy.ndarray

In [32]:
# returns a object that makes up an index 
adjective.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
type(adjective.index)

pandas.core.indexes.range.RangeIndex

In [35]:
adjective.dtype

dtype('O')

## Importing Data

In [25]:
pokemon_series = pd.read_csv("data/pokemon.csv", usecols = ["Pokemon"]).squeeze("columns") # usecols are columns we want to keep 
# squeeze() turn 1 col df to series

In [18]:
pokemon_series

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [22]:
stockprice_series = pd.read_csv("data/google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

## Head or Tails Methods

In [24]:
pokemon_series.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [26]:
pokemon_series.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [27]:
stockprice_series.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [28]:
stockprice_series.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

## built in python functions

In [45]:
len(pokemon_series)
type(pokemon_series)
dir(pokemon_series) #returns a list of methods in object
sorted(pokemon_series) #returns a list (converted from series)
list(pokemon_series)
dict(pokemon_series) #this seems super useful. but remember series labels can allows duplicates 
max(pokemon_series) #max of alphabet
min(pokemon_series) #min of alphabet

'Abomasnow'

## Check for inclusion with python's 'in' keyword

In [2]:
# will check in series index not values 

100 in pokemon_series.index 
100 in pokemon_series

NameError: name 'pokemon_series' is not defined

In [76]:
"Bulbasaur" in pokemon_series.values
"Pikachu" in pokemon_series.values

True

## Extract series value by index position

In [19]:
pokemon_series[0]
pokemon_series[500]

pokemon_series[[0, 1, 2]] # can grab multiple values by passing in a list 


pokemon_series[0:3] # ending index position is exclusive 
pokemon_series[700:]

pokemon_series[-20:-10] # pull from 20th to 10th from the end 
pokemon_series[-20:] # equivalent to the tail method

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

## Extract Series Value by Index Label

In [30]:
pokemon["Mewtwo"]

'Psychic'

In [33]:
pokemon[["Mewtwo", "Jolteon"]]

Pokemon
Mewtwo      Psychic
Jolteon    Electric
Name: Type, dtype: object

## get method

In [50]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5,10])
pokemon.get(["Mewtwo", "Meowth"])

pokemon.get("Digimon", "Nonexistent") # gets nice because it returns None if it doesn't exist 
pokemon.get("Digimon", "Nonexistent") # gets nice because it returns None if it doesn't exist 
pokemon.get(["Moltres", "Digimon"], "not everything exists")

'not everything exits'

## Overwrite a Series Value

In [53]:
pokemon_series[0] = "Borisaur"

In [55]:
pokemon_series.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [57]:
pokemon_series[1500] = "Hello"

In [58]:
pokemon_series

0         Borisaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [62]:
pokemon_series[[1,2,4]] = ["Firemon", "flamemon", "blazemon"]

In [63]:
pokemon_series

0         Borisaur
1          Firemon
2         flamemon
3       Charmander
4         blazemon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [65]:
pokemon["Bulbasaur"] = "awesomemon"

In [66]:
pokemon.head()

Pokemon
Bulbasaur     awesomemon
Ivysaur          Firemon
Venusaur        flamemon
Charmander          Fire
Charmeleon      blazemon
Name: Type, dtype: object

## The Copy Method

In [71]:
pokemon_df = pd.read_csv("data/pokemon.csv", usecols= ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [74]:
pokemon_series[0] = "WHATVEVER"
pokemon_series.head(1)

0    WHATVEVER
Name: Pokemon, dtype: object

In [75]:
pokemon_df #changed the original df.

        Pokemon
0     WHATVEVER
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [138]:
pokemon_df = pd.read_csv("data/pokemon.csv", usecols= ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [80]:
pokemon_series[0] = "Whatever"

In [81]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [82]:
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [83]:
pokemon_series

0        Whatever
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

## Inplace Parameter

In [125]:
google = (
    pd.read_csv("data/google_stock_price.csv", usecols = ["Stock Price"])
    .squeeze("columns")
    .copy()
)

google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [87]:
google = google.sort_values()

In [90]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [91]:
google.sort_values(inplace = True) # sorts the original object and data. might get deprecated.

In [92]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
# we can't modify a view, remember to create a copy to modify the series.

## Math Method

In [103]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## Broadcasting

In [111]:
google + 10
google - 30
google * 2

# there are method equilavence to broadcasting 
google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

## value_counts method

In [113]:
pokemon.value_counts()

Water         105
Normal         93
Bug            63
Grass          63
Psychic        47
Fire           46
Rock           41
Electric       36
Ground         30
Poison         28
Dark           28
Fighting       25
Dragon         24
Ice            23
Ghost          23
Steel          22
Fairy          17
Flying          3
blazemon        1
Firemon         1
flamemon        1
awesomemon      1
Name: Type, dtype: int64

In [116]:
pokemon.value_counts(ascending = True).head() # this returns a series so we can apply methods to it

blazemon      1
flamemon      1
Firemon       1
awesomemon    1
Flying        3
Name: Type, dtype: int64

In [119]:
pokemon.value_counts(sort = False) # corresponds to original index labels

Psychic        47
Ice            23
Ghost          23
Dragon         24
Flying          3
flamemon        1
Firemon         1
Normal         93
blazemon        1
Ground         30
Grass          63
Steel          22
Rock           41
Fairy          17
Poison         28
Fighting       25
Fire           46
Bug            63
awesomemon      1
Dark           28
Water         105
Electric       36
Name: Type, dtype: int64

In [124]:

pokemon.value_counts(normalize = True) * 100 # returns the percentages

Water         14.563107
Normal        12.898752
Bug            8.737864
Grass          8.737864
Psychic        6.518724
Fire           6.380028
Rock           5.686546
Electric       4.993065
Ground         4.160888
Poison         3.883495
Dark           3.883495
Fighting       3.467406
Dragon         3.328710
Ice            3.190014
Ghost          3.190014
Steel          3.051318
Fairy          2.357836
Flying         0.416089
blazemon       0.138696
Firemon        0.138696
flamemon       0.138696
awesomemon     0.138696
Name: Type, dtype: float64

In [ ]:
#case sensitive so will count unique index labels.

## apply method

In [127]:
len("grass")

5

In [130]:

pokemon.apply(len) # remember to pass in the uninvoked function

Pokemon
Bulbasaur     10
Ivysaur        7
Venusaur       8
Charmander     4
Charmeleon     8
              ..
Yveltal        4
Zygarde        6
Diancie        4
Hoopa          7
Volcanion      4
Name: Type, Length: 721, dtype: int64

In [140]:
def rank_pokemon(pokemon_type): 
    if pokemon_type in ["Grass", "Fire", "Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else:
        return "TBD"

In [141]:
pokemon.apply(rank_pokemon) # applying the function we created

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

## Map method

In [151]:
# associate every type to a ranking 
# using a dictionary to help 

mapping = {
    "Grass": "Classic", 
    "Fire": "Classic",
    "Water": "Classic",
    "Normal": "Boring"
}
#apply method accepts a functin and map method accepts an assciations 



mappings_series = pd.Series(mapping)

In [145]:

pokemon.map(mapping)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [147]:
pokemon.tail() # can't find these types so it assciates it NaN

Pokemon
Yveltal         Dark
Zygarde       Dragon
Diancie         Rock
Hoopa        Psychic
Volcanion       Fire
Name: Type, dtype: object

In [152]:
pokemon.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object